body{
    background-color: #9fb8ad;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Stick', sans-serif;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

h3.heading {
    text-align: center;
    text-shadow: 5px 10px 10px #fb743e;
    font: 30px 'DotGothic16', sans-serif;
}

input{
    font-size: 20px;
    text-shadow: 1px 1px 5px #c5d7bd;
    text-align: center;
}

table {
    display: flex;
}

label {
    color: #c5d7bd;
}

tbody {
    margin: 0 auto;
    background-color: #383e56;
    box-shadow: 2px 2px 20px 1px #fb743e;
}

td  {
    text-align: center;
    width: 400px;
}

td button a{
    color: inherit;
}